<div class="pt2">
  <a href="https://georgetipton.com" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-personal-website.html %}</a>
  <a href="https://github.com/Geo-Bit" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-github.html %}</a>
  <a href="https://www.linkedin.com/in/george-tipton/" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-linkedin.html %}</a>
</div>
